<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Skate Spots</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <div id='header'>
    <div id='header-text'>
<!--            <h1>Skate Spots</h1>-->
        <h1>SKATE SPOTS</h1>
        <h3>SEARCH &#8226; LOCATE &#8226; SKATE</h3>
    </div>
  </div>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo" /></a>
    <div class="navlink"><a href="/search">Search</a></div>
    <div class="navlink"><a href="/add">Add</a></div>
    <div class="navlink"><a href="/navFull">Fullscreen Map</a></div>
    <div class="navlink"><a href="/settings">My Account</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <div id='taskbar'>
    <p>Account Details</p>
    <p>Security</p>
    <p>Communication Preferences</p>
    <p>Personalization</p>
    <p>Connected Apps</p>
  </div>
  
  <div id='settings'>
    <h1 id='accounth1'>My Account</h1>
    <div id='details'>
      <img src="/assets/img/domoProfile.jpg" alt="domo profile picture" id="profilePic"/>
      <h3>User: </h3>
      <h3>Email: </h3>
      <h3>Created Date:</h3>
      <h3><a href="/maker">Created Domos</a></h3>
    </div>
  </div>
  
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo" />
  </div>
  <script src="/assets/bundle.js"></script>
</body>

</html>
