html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    padding-left: 10px;
    float:left;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #55acee;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

.domoForm {
    border: 2px solid #338acc;
    height: 35px;
    width: 900px;
    margin-top:0px;
    padding-top:10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.domoForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.domoForm input[type=text] {
    float:left;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    color: white;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#domoMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#domo {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#domos {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.domo {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.domo:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyDomo {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.domoName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.domoAge {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

h3.domoLevel {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.domo:first-child {
    margin-top: 10px;
}

.domo:last-child {
    margin-bottom:10px;
}

#profilePic { 
  border-radius: 50%;
  border: 3px solid black;
}

#taskbar {
  float: left;
  text-align: left;
  width: 20%;
  background-color: #55acee;
}

#taskbar p {
  font-size: 1.5em;
  margin: 10px;
  padding: 10px;
  background-color: aliceblue;
}

#taskbar p:hover{
  background-color: darkgray;
  text-decoration: underline;
}

#settings {
  float: left;
  width: 80%;
  text-align: center;
}


/* SKATE SPOTS CSS BELOW */
/* SKATE SPOTS CSS BELOW */
/* SKATE SPOTS CSS BELOW */
/* SKATE SPOTS CSS BELOW */

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Oswald', cursive;
}

#header{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/assets/img/background.jpg');
/*    background-size: cover;*/
    height: 410px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 3px solid black;
/*    margin-bottom: 100px;*/
}

#header-text{
    text-align: center;
    position: absolute;
    top: 17%;
    left: 25%;
    color: white;
    background-color: black;
    padding: 10px;
    border: 10px solid #EBC24C;
    border-radius: 10px;
}


#header h1{
    font-size: 5em; 
    margin: 10px;
    text-decoration: underline dotted #2767C1;
    font-family: 'Fugaz One', cursive;
}

#header h3{
    margin-top: 10px;
    font-size:2em;
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
}

#topnav{
    width: 100%;
    background-color:black;
    color: white;
    font-size: 2em;
    text-align: center;
    height: 50px;
    cursor: pointer;
}

#topnav a{
    padding: 0px 10px;
    text-decoration: none;
}

#topnav a:hover{
    background-color: #D79FB8;
}

#topnav a.active{
    background-color: #2767C1;
}

/*map and controls*/
#content{
    margin-top: 75px;
    width: 100%;
    display: table;
}

#map {
    border: 3px solid black;
    width: 750px;
    height: 750px;
    float:left;
    margin-left: 13%;
    margin-right: 20px;
    margin-bottom: 20px;
}

#controls{
    border: 3px solid black;
    display: inherit;
    padding: 25px 20px 25px 25px;
    margin-left: 22.5%;
    height: 704px;
    width: 500px;
}

/*#div_add{display:none;}*/

#controls h3 {margin: 0; padding-bottom: 15px;}

.lnglat{
    width: 80px;
}

#controls button{
    margin-bottom: 5px;
}

button{
    font-size: 1em;
    display: block;
}

button:hover{background-color: lightblue;}

#controls label{
    font-size: 1.2em;
}

.park{
    background-image: url('../images/park-icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.shop{
    background-image: url('../images/shop-icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.spot {
    background-image: url('../images/spot-icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

footer{
    font-family: 'Oswald', sans-serif;
    border-top: 3px solid black;
/*    margin-top: 100px;*/
    background-color: #2767C1;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 100px;
    text-align: center;
    font-size: 1.2em;
    color: lightgray;
}

.footer{
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer h4{
    padding-bottom: 10px; 
    margin: 0;
    font-size: 1.4em;
}

footer p{
    text-align: left;
    padding: 0;
    margin: 0;
}

h6{color: red; margin-top: 0; margin-bottom:15px; }
h5{margin: 0; color: gray; text-indent: 20px; padding: 0;}
h5:hover{color: #D79FB8;}
a{color:inherit;}
footer a:hover{color: #D79FB8;}
hr{margin-top: 0px;}