html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    padding-left: 10px;
    float:left;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #55acee;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

.addForm {
/*    height: 35px;*/
/*    width: 900px;*/
    margin-top:0;
    padding-top:10px;
/*    border-bottom-right-radius: 4px;*/
/*    border-top-right-radius: 4px;*/
}

.addForm label {
    display: block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
/*    float: left;*/
/*    color: white;*/
}

.addForm input[type=text] {
/*    float:left;*/
}

.makeLocSubmit {
    transition: background-color 0.2s ease;
    display: inline;
    width: 110px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeLocSubmit:link, .makeLocSubmit:visited, .makeLocSubmit:hover, .makeLocSubmit:active {
    color: white;
}

.makeLocSubmit:hover {
    transition: background-color 0.2s ease;
    background-color: #338acc;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 125px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#screenMessage {
  padding: 0;
  margin: 0;
  display:none;
  top: 525px;
  width: 100%;
  height: 100px;
/*    position: fixed;*/
}

#screenMessage h3 {
  text-align: center;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    color: red;
}

/*
#board {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}
*/

#location {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.location {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.location:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.board {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

#content h3 {
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;  
}

h3.emptyLocation {
/*    font-size: 1.2em;*/

}
/*
h3.locName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.locType {
    float:right;
    text-align: left;
    width: 200px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}
*/

#locName, #locAbout, #locLocation, #locType   {
  width: 200px;
  margin-bottom: 10px;
}

.location:first-child {
    margin-top: 10px;
}

.location:last-child {
    margin-bottom:10px;
}

#profilePic { 
  border-radius: 50%;
  border: 3px solid black;
  height: 200px;
}

#taskbar {
  float: left;
  text-align: left;
  width: 20%;
  background-color: #55acee;
}

#taskbar p {
  font-size: 1.5em;
  margin: 10px;
  padding: 10px;
  background-color: aliceblue;
}

#taskbar p:hover{
  background-color: darkgray;
  text-decoration: underline;
}

#settings {
  float: left;
  width: 80%;
  text-align: center;
}


/* SKATE SPOTS CSS BELOW */
/* SKATE SPOTS CSS BELOW */
/* SKATE SPOTS CSS BELOW */
/* SKATE SPOTS CSS BELOW */

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Oswald', cursive;
}

#header{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/assets/img/background.jpg');
/*    background-size: cover;*/
    height: 410px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom: 3px solid black;
/*    margin-bottom: 100px;*/
}

#header-text{
    text-align: center;
    position: absolute;
    top: 17%;
    left: 25%;
    color: white;
    background-color: black;
    padding: 10px;
    border: 10px solid #EBC24C;
    border-radius: 10px;
}


#header h1{
    font-size: 5em; 
    margin: 10px;
    text-decoration: underline dotted #2767C1;
    font-family: 'Fugaz One', cursive;
}

#header h3{
    margin-top: 10px;
    font-size:2em;
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
}

#topnav{
    font-family: 'Oswald', cursive;
    width: 100%;
    background-color:black;
    color: white;
    font-size: 2em;
    text-align: center;
    height: 50px;
    cursor: pointer;
}

#topnav a{
    padding: 0px 10px;
    text-decoration: none;
}

#topnav a:hover{
    background-color: #D79FB8;
}

#topnav a.active{
    background-color: #2767C1;
}

/*map and controls*/
#content{
/*    margin-top: 75px;*/
  width: 100%;
  text-align: center;
/*  margin-left: 25%;*/
  height: 400px;
  display: table;
}

#mainForm {
/*  width: inherit;*/
  height: 400px;
}

#locations {
  border: 3px solid black;
  width: 500px;
  height: 550px;
  display: inherit;
  /*
    margin-left: 13%;
    margin-right: 20px;
    margin-bottom: 20px;
*/
}

#controls {
  border: 3px solid black;
  float:left;
  width: 500px;
  height: 550px;
}

#content div {
  margin: 5px;
}

#controls button {
    margin-bottom: 5px;
}

button {
    font-size: 1em;
    display: block;
}

button:hover{background-color: lightblue;}

.park{
    background-image: url('../images/park-icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.shop{
    background-image: url('../images/shop-icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.spot {
    background-image: url('../images/spot-icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

footer{
    font-family: 'Oswald', sans-serif;
    border-top: 3px solid black;
/*    margin-top: 100px;*/
    background-color: #2767C1;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 100px;
    text-align: center;
    font-size: 1.2em;
    color: lightgray;
}

.footer{
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer h4{
    padding-bottom: 10px; 
    margin: 0;
    font-size: 1.4em;
}

footer p{
    text-align: left;
    padding: 0;
    margin: 0;
}

.ad {
  width: 500px;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 50%;
  text-align: center;
}

.adImg {
  height: 200px;
  padding: 0;
  margin: 0;
  max-width: 300px;
}

.ad h4 {
  padding: 0;
  margin: 0;
}

.ad a{
  text-decoration: none;
  padding: 0;
  margin-top: 5px;
}

.ad a:hover {
  color: #2767C1;
}

h6{color: red; margin-top: 0; margin-bottom:15px; }
h5{margin: 0; color: gray; text-indent: 20px; padding: 0;}
h5:hover{color: #D79FB8;}
a{color:inherit;}
footer a:hover{color: #D79FB8;}
hr{margin-top: 0px;}